langchain==0.3.24
langchain-core==0.3.56
langchain-community==0.3.23
langchain-groq==0.3.2
langchain-qdrant==0.1.7
sentence-transformers==3.4.1
gdown==5.2.0
googletrans==4.0.2
transformers==4.40.1
torch>=1.13.1
scikit-learn>=1.0.2
pandas
numpy
ipywidgets
jupyter